.favorite-carousel-wrapper {
  margin-bottom: 48px;
}


@media screen and (max-width: 768px) {
  .favorite-carousel-wrapper {
    padding: 0 8px;
  }

  .react-multi-carousel-list {
    max-width: 100%;
    margin: 0 auto;
  }
}