.my-category-title {
    font-size: 27px;
    font-weight: 900;
    margin-bottom: 32px;
    color: #111;
    text-align: center;
    margin-bottom: 40px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    border-left: 5px solid #333;
    padding-left: 12px;
    letter-spacing: 1px;
}

.my-interest-wrapper {
    padding: 13px;
    background-color: #ffff;
    overflow: visible;
    max-height: none;
    height: auto;
}

.react-multi-carousel-track {
    height: auto !important;
}

@media screen and (max-width: 768px) {

    .my-interest-wrapper {
        padding: 10px;
    }

    .my-category-title {
        font-size: 20px;
        padding-left: 8px;
        border-left: 4px solid #333;
        margin-bottom: 24px;
        text-align: left;
    }

    .category-block {
        width: 92%;
        /* ✅ 회색 박스 폭 줄이기 */
        margin: 0 auto 20px auto;
        /* ✅ 가운데 정렬 및 간격 */
        padding: 12px;
    }

    .category-block h3 {
        font-size: 18px;
        margin-bottom: 10px;
        padding-bottom: 4px;
    }

    .react-multi-carousel-track {
        flex-wrap: nowrap;
    }
}