.my-category-title {
    font-size: 27px;
    font-weight: 900;
    margin-bottom: 32px;
    color: #111;
    text-align: center;
    margin-bottom: 40px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    border-left: 5px solid #333;
    padding-left: 12px;
    letter-spacing: 1px;
}

.my-interest-wrapper {
    padding: 13px;
    background-color: #ffff;
    overflow: visible;
    max-height: none;
    height: auto;
}

.react-multi-carousel-track {
    height: auto !important;
  }