/* 전체 화면을 고정하고 꽉 채우는 Wrapper */
.mypage-wrapper {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

/* 전체 테두리 박스 (가로/세로 모두 꽉 차게) */
.mypage-border {
  flex: 1;
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  box-sizing: border-box;
  border-radius: 16px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0, 1);
  background-color: #fefcf9;
  overflow: hidden;
}


/* 왼쪽 메뉴 */
.mypage-left {
  width: 33.33%;
  height: 100%;
  border-right: 1px solid #ddd;
  padding: 30px 20px;
  box-sizing: border-box;
  overflow: auto;
  background-color: #ffffff;
}

/* 오른쪽 콘텐츠 */
.mypage-right {
  width: 66.66%;
  height: 100%;
  padding: 30px 20px;
  box-sizing: border-box;
  overflow-y: auto;
  background-color: #ffffff;
}

.my-interest-wrapper {
  overflow: visible !important;
  max-height: none !important;
}

/* 버튼 스타일 */
.mypage-menu-button {
  margin-bottom: 5px;
  width: 100%;
  padding: 10px 16px;
  border: 1px solid black;
  background-color: white;
  color: black;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.mypage-menu-button.selected {
  background-color: black;
  color: white;
}

@media screen and (max-width: 768px) {

  .mypage-left {
    display: none;
  }

  .mypage-right {
    width: 100%;
    padding: 20px 20px;
  }
}

;